.label {
    -fx-font-size: 11px;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    
}
.button:hover {
    -fx-background-color: linear-gradient(#FFFFFF, #7b38b3);
	-fx-text-fill: #000000;
}

#deltoid-text {
   -fx-font-size: 30px;
   -fx-font-family: "Century Gothic";
   -fx-fill: #FFFFFF;
}

#dButton {
   -fx-font-size: 14px;
   -fx-font-family: "Garamond";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 ); 
}
#clearDeltoid {
   -fx-font-size: 14px;
   -fx-font-family: "Garamond";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 ); 
}
#deltoidBack {
   -fx-font-size: 14px;
   -fx-font-family: "Garamond";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 ); 
}

#deltoidNext {
   -fx-font-size: 14px;
   -fx-font-family: "Garamond";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#deltoidBack2 {
   -fx-font-size: 14px;
   -fx-font-family: "Garamond";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#deltoidInvalid {
   -fx-font-size: 10px;
   -fx-font-family: "Century Gothic";
   -fx-fill: #fd483f;
   -fx-font-weight: bold;
}

#deltoidInvalid2 {
   -fx-font-size: 10px;
   -fx-font-family: "Century Gothic";
   -fx-fill: #fd483f;
   -fx-font-weight: bold;
}

#deltoidInvalid3 {
   -fx-font-size: 10px;
   -fx-font-family: "Century Gothic";
}