.label {
    -fx-font-size: 11px;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    
}
.button:hover {
    -fx-background-color: linear-gradient(#FFFFFF, #b83dba);
	-fx-text-fill: #000000;
}

#rhombus-text {
   -fx-font-size: 30px;
   -fx-font-family: "Century Gothic";
   -fx-fill: #FFFFFF;
}

#rhButton {
   -fx-font-size: 14px;
   -fx-font-family: "Garamond";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 ); 
}
#clearRhombus {
   -fx-font-size: 14px;
   -fx-font-family: "Garamond";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 ); 
}
#rhombusBack {
   -fx-font-size: 14px;
   -fx-font-family: "Garamond";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 ); 
}

#rhombusNext {
   -fx-font-size: 14px;
   -fx-font-family: "Garamond";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#rhombusBack2 {
   -fx-font-size: 14px;
   -fx-font-family: "Garamond";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#rhombusInvalid {
   -fx-font-size: 10px;
   -fx-font-family: "Century Gothic";
   -fx-fill: #fd483f;
   -fx-font-weight: bold;
}

#rhombusInvalid2 {
   -fx-font-size: 10px;
   -fx-font-family: "Century Gothic";
}

#rhombusInvalid3 {
   -fx-font-size: 10px;
   -fx-font-family: "Century Gothic";
}